@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --background-color: #242424;
  --text-color: #ffffff;
  --border-color: #ffffff;
  --header-background: #1a1a1a;
  --menu-background: #2a2a2a;
  --hover-background: #0a0a0a;
  --text-special-color: #FFCBB8;
}

:root[data-theme="light"] {
  --background-color: #ffffff;
  --text-color: #242424;
  --border-color: #242424;
  --header-background: #f5f5f5;
  --menu-background: #e5e5e5;
  --hover-background: #d5d5d5;
  --text-special-color: #7A2100;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}